<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		div{
			color: red;
		}
	</style>
	<script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
	<title></title>
</head>
<body>
	<div id="our-app1">
		<input type="text" placeholder="First Name" v-model="fname" name=""><br>
		<input type="text" placeholder="Last Name" v-model="lname" name=""><br>
		<h2>Full Name:<input type="text" v-model="fullname" name=""></h2><br>
		<h2>Channel Name:{{Hobby}}</h2>

	</div>
	
	<script type="text/javascript" src="video17.js"></script>

</body>
</html>